<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MusicManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <MusicManager.Properties.Settings>
      <setting name="srcFolder" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="dupFolder" serializeAs="String">
        <value>C:\dup</value>
      </setting>
      <setting name="tagsEditorSrcFolder" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="tagsEditorSrcRegex" serializeAs="String">
        <value />
      </setting>
      <setting name="tagsEditorArtistRegex" serializeAs="String">
        <value />
      </setting>
      <setting name="tagsEditorTitleRegex" serializeAs="String">
        <value />
      </setting>
      <setting name="tagsEditorAlbumRegex" serializeAs="String">
        <value />
      </setting>
      <setting name="tagsEditorIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="jntrLrcFolder" serializeAs="String">
        <value>C:\</value>
      </setting>
      <setting name="jntrMusicFolder" serializeAs="String">
        <value>C:\</value>
      </setting>
    </MusicManager.Properties.Settings>
  </userSettings>
</configuration>
